<div class="nav-container">
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top nav-shadow">


        <div class="bs-nav-container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
            <div class="collapse navbar-collapse " id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item hamburger">
                        <a class="nav-link">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav m-middle">
                    <li class="width-full">
                        <div class=" form-group has-search ">
                            <span class="fa fa-search form-control-feedback app-search"></span>
                            <input #noteSearch type="text" (keyup)="filterNotes(noteSearch.value)" class="form-control " #movieTitle placeholder="Search ">
                        </div>

                    </li>
                </ul>
                <ul class="navbar-nav user-pos">
                    <ng-template #anonymousUser>
                        <li class="nav-item ">
                            <a class="nav-link " routerLink="/login ">Login</a>
                        </li>
                    </ng-template>

                    <li ngbDropdown class="nav-item dropdown ">
                        <a ngbDropdownToggle class="nav-link dropdown-toggle " id="dropdown01 " data-toggle="dropdown " aria-haspopup="true " aria-expanded="false ">
                            <span class="user-account-holder" aria-hidden="true"></span>
                        </a>
                        <div ngbDropdownMenu class="dropdown-menu " aria-labelledby="dropdown01 ">
                            <a class="dropdown-item " (click)="logout() ">Log Out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>