<div class="reset-container">
    <div class="container">
        <main class="auth-form px-3">
            <div class="alert alert-danger mt-1 block" *ngIf="genericError">
                {{ genericError }}
            </div>
            <form>
                <div class="auth-form-header p-0">
                    <h1>Reset your password</h1>
                </div>
                <div class="auth-form-body mt-3">

                    <label for="login_field">
            Username
          </label>
                    <input type="text" name="username" id="password" [(ngModel)]="resetModel.username" class="form-control input-block" tabindex="1" autocapitalize="off" autocorrect="off" autocomplete="username" autofocus="autofocus">
                    <div class="alert alert-danger mt-1 block" *ngIf="errorMsg && errorMsg.username">
                        {{ errorMsg.username }}
                    </div>
                    <label for="password" class="label-container">
                     New Password
                  </label>
                    <input type="password" name="password" id="password" [(ngModel)]="resetModel.password" class="form-control form-control input-block" tabindex="2" autocomplete="current-password">
                    <div class="alert alert-danger mt-1 block" *ngIf="errorMsg && errorMsg.password">
                        {{ errorMsg.password }}
                    </div>
                    <input type="submit" name="commit" value="Reset" tabindex="3" class="btn btn-success btn-block" data-disable-with="Signing in…">
                </div>
            </form>
        </main>
    </div>
</div>