<div class="signup-container">

    <div class="container">
        <main>
            <div class="p-responsive mt-4 mt-md-8">
                <div class="mb-4 mb-md-8 container-md">
                    <div class="text-mono text-center text-gray-light text-normal mb-3">Join Keep</div>
                    <h1 class="d-none d-md-block mt-0 mb-3 text-center h00-mktg lh-condensed-ultra ">Create your account</h1>
                </div>
            </div>
            <!-- '"` -->
            <!-- </textarea></xmp> -->
            <form #f="ngForm" autocomplete="off" id="signup-form" class="setup-form js-signup-form js-octocaptcha-parent" accept-charset="UTF-8">
                <div class="alert alert-danger mt-1 block" *ngIf="genericError">
                    {{ genericError }}
                </div>
                <div class="auth-form-body">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" [(ngModel)]="signUpModel.username" class="form-control input-block" tabindex="1" autocapitalize="off" autocorrect="off" autocomplete="username" autofocus="autofocus" required>
                    <div class="alert alert-danger mt-1 block" *ngIf="errorMsg && errorMsg.username">
                        {{ errorMsg.username }}
                    </div>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" [(ngModel)]="signUpModel.email" class="form-control input-block" tabindex="2" autocapitalize="off" autocorrect="off" autocomplete="email" autofocus="autofocus">
                    <div class="alert alert-danger mt-1 block" *ngIf="errorMsg && errorMsg.email">
                        {{ errorMsg.email }}
                    </div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" [(ngModel)]="signUpModel.password" class="form-control input-block" tabindex="3" autofocus="autofocus">
                    <div class="alert alert-danger mt-1 block" *ngIf="errorMsg && errorMsg.password">
                        {{ errorMsg.password }}
                    </div>
                    <div class="my-3">
                        <input type="submit" [disabled]="!f.valid" value="Signup" (click)="register()" name="commit" class="btn-mktg signup-btn  width-full" height="64px">
                    </div>
                </div>
            </form>
        </main>
    </div>
</div>