<div class="notes-container">
    <div class="container">
        <button class="btn btn-primary center-align-btn" (click)="openModal('custom-modal-1',title,body)">Add Notes</button>
        <jw-modal id="custom-modal-1" class="notes-modal">
            <i class="fa fa-times-circle flt-right" aria-hidden="true" (click)="closeModal('custom-modal-1');"></i>
            <form [formGroup]="uploadForm" (ngSubmit)="submitForm()">
                <div class="notes-body">
                    <div class="notes-img">
                        <img name="notesImg" #prviewImg src="" alt="" height="460">
                    </div>
                    <div-input formControlName="title">
                        <div #title contentEditable=true data-ph="Title" class="notes-title"></div>
                    </div-input>
                    <div-input formControlName="body">
                        <div #body contentEditable=true data-ph="Take a note ...." class="notes-content"></div>
                    </div-input>


                </div>
                <div class="notes-footer">
                    <label class="image-upload-container btn">
                <i class="fa fa-paperclip" aria-hidden="true"></i>
                <input #imageInput
                 #file type="file"
                       accept="image/*"
                       (change)="processFile(file.files,prviewImg)" class="fileinp">
              </label>
                </div>
                <div class="form-group">
                    <button class="btn btn-danger">Create Notes</button>
                </div>
            </form>
        </jw-modal>
        <div class="notesFlex-cont">
            <ng-container *ngFor="let note of filteredNotes">
                <div class="notesFlex-item">
                    <div class="notes-body">
                        <div class="notes-img">
                            <img name="notesImg" #prviewImg [src]="note.image" alt="" height="200">
                        </div>
                        <div class="notes-content">
                            <div class="notes-title">{{note.title}}</div>
                            <div class="notes-content">{{note.body}}</div>
                        </div>
                        <div class="notes-footer">
                            <mat-checkbox (change)="markDone(note.is_done,note.id?note.id:note._id)" [checked]="note.is_done" class="flt-right">Done</mat-checkbox>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

    </div>

</div>